
.flex {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.item {
    flex: 1;
    text-align: center;
}

.i-1 {
    background-color: aqua;
}

.i-2 {
    background-color: greenyellow;
}