<div class="outer">
    <div class="flex">
        <div class="option o-1" #option1 (click)="onToggleExpand(option1)">

            <!-- COLUMN LEFT -->
            <div class="column col-left">
                <div class="title">ABOUT ME</div>
                <div class="content">
                    <div class="row">
                        <div class="title-ext">AND MY CAT</div>
                        <div class="toggle-expand">
                            <i class="fas fa-circle-plus toggle-icon"></i>
                        </div>
                    </div>
                    <div class="desc">
                        <div class="section">
                            <div class="big-box">
                                <div class="intro">hi! i'm&nbsp;jan.</div>
                                <div class="intro">i like doing stuff.</div>
                            </div>
                            <div class="box">
                                <div class="hobbys">
                                    <div class="icon-row">
                                        <span class="icon i-1">
                                            <i class="fa-solid fa-laptop-code fa-fw"></i>
                                        </span>
                                        <span class="icon i-2">
                                            <i class="fa-solid fa-person-biking fa-fw"></i>
                                        </span>
                                        <span class="icon i-3">
                                            <i class="fa-solid fa-basketball fa-fw"></i>
                                        </span>
                                        <span class="icon i-4">
                                            <i class="fa-solid fa-chess fa-fw"></i>
                                        </span>
                                        <span class="icon i-5">
                                            <i class="fa-solid fa-gamepad fa-fw"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="info">Bikepacking, Basketball, Piano</div> -->
                        <!-- <div class="info">Soon: Master studies in Lisbon, Portugal</div> -->
                    </div>
                </div>
            </div>
            <!-- COLUMN LEFT -->

            <!-- COLUMN RIGHT -->
            <div class="column col-right">
                <div class="col-inner">
                    <div class="section">
                        <div class="subtitle">past</div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                        </div>
                    </div>
                    <div class="section">
                        <div class="subtitle">present</div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                        </div>
                    </div>
                    <div class="section">
                        <div class="subtitle">future</div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                        </div>
                    </div>
                </div>
            </div>
            <!-- COLUMN RIGHT -->

        </div>
        <!-- OPTION: ABOUT ME -->

        <!-- OPTION: PROJECTS -->
        <div class="option o-2" #option2 (click)="onToggleExpand(option2)">

            <!-- COLUMN LEFT -->
            <div class="column col-left">
                <div class="title">PROJECTS</div>
                <div class="content">
                    <div class="row">
                        <div class="title-ext">THAT I HAVE PROBABLY NEVER FINISHED</div>
                        <div class="toggle-expand">
                            <i class="fas fa-circle-plus toggle-icon"></i>
                        </div>
                    </div>
                    <div class="desc">
                        <div class="section">
                            <div class="big-box">
                                <div class="intro">Python 3D Raytracer</div>
                            </div>
                            <div class="box">
                                <div class="hobbys">
                                    <div class="icon-row">
                                        <span class="icon i-1">
                                            <i class="fa-brands fa-python fa-fw"></i>
                                        </span>
                                        <span class="icon i-2">
                                            <i class="fa-brands fa-java fa-fw"></i>
                                        </span>
                                    </div>
                                    <div class="row">
                                        <span class="icon i-3">
                                            <i class="fa-brands fa-square-js fa-fw"></i>
                                        </span>
                                        <span class="icon i-4">
                                            <i class="fa-brands fa-angular fa-fw"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- COLUMN LEFT -->

            <!-- COLUMN RIGHT -->
            <div class="column col-right">
                <div class="col-inner">
                    <div class="section">
                        <div class="subtitle">past</div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                        </div>
                    </div>
                    <div class="section">
                        <div class="subtitle">present</div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                        </div>
                    </div>
                    <div class="section">
                        <div class="subtitle">future</div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                        </div>
                    </div>
                </div>
            </div> 
            <!-- COLUMN RIGHT -->

        </div>
        <!-- OPTION: PROJECTS -->

        <!-- OPTION: HIRE ME -->
        <div class="option o-3" #option3 (click)="onToggleExpand(option3)">

            <!-- COLUMN LEFT -->
            <div class="column col-left">
                <div class="title">HIRE ME</div>
                <div class="content">
                    <div class="row">
                        <div class="title-ext">IF YOU WANT</div>
                        <div class="toggle-expand">
                            <i class="fas fa-circle-plus toggle-icon"></i>
                        </div>
                    </div>
                    <div class="desc">
                        <div class="section">
                            <div class="big-box">
                                <div class="intro">
                                    <div class="">do you want to work with me?</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COLUMN LEFT -->

            <!-- COLUMN RIGHT -->
            <div class="column col-right">
                <div class="col-inner">
                    <div class="section">
                        <div class="subtitle">past</div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                        </div>
                    </div>
                    <div class="section">
                        <div class="subtitle">present</div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                        </div>
                    </div>
                    <div class="section">
                        <div class="subtitle">future</div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                        </div>
                    </div>
                </div>
            </div>
            <!-- COLUMN RIGHT -->

        </div>
        <!-- OPTION: HIRE ME -->

        <!-- OPTION: CONTACT ME -->
        <div class="option o-4" #option4 (click)="onToggleExpand(option4)">

            <!-- COLUMN LEFT -->
            <div class="column col-left">
                <div class="title">CATCH ME</div>
                <div class="content">
                    <div class="row">
                        <div class="title-ext">IF YOU CAN</div>
                        <div class="toggle-expand">
                            <i class="fas fa-circle-plus toggle-icon"></i>
                        </div>
                    </div>
                    <div class="desc">
                        <div class="section">
                            <div class="box">
                                <div class="info">email me</div>
                                <div class="info">github me</div>
                                <div class="info">linkedin me</div>
                                <div class="info">instagram me</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COLUMN LEFT -->

            <!-- COLUMN RIGHT -->
            <div class="column col-right">
                <div class="col-inner">
                    <div class="section">
                        <div class="subtitle">past</div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                        </div>
                    </div>
                    <div class="section">
                        <div class="subtitle">present</div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                        </div>
                    </div>
                    <div class="section">
                        <div class="subtitle">future</div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem similique facilis quia vel expedita dolor repellat impedit a possimus quisquam, et saepe itaque doloribus animi voluptate vitae sit delectus deserunt?
                        </div>
                    </div>
                </div>
            </div>
            <!-- COLUMN RIGHT -->

        </div>
        <!-- OPTION: CONTACT ME -->

    </div>
</div>